@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root {
  --clr-light-gray: #eee;

  --clr-theme-dark-blue: rgb(1 13 20);
  --clr-theme-light-blue: rgb(37 174 208);
  --clr-theme-bright-blue: rgb(238 247 252);
  --clr-theme-calm-orange: rgb(224 164 88);
  --clr-theme-scarlet-red: rgb(229 75 75);

  --padding-2: 2rem;

  font-size: 14px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3 {
  font-family: 'Arvo', sans-serif;
}

p {
  font-size: 0.875rem;
}

a {
  color: var(--clr-theme-light-blue);
}

a:hover {
  color: var(--clr-theme-calm-orange);
}

/* Utility */

.flow {
  margin-top: 4rem;
}

.bordered-image {
  padding: 0.2rem;
  overflow: hidden;
  border: 1px solid black;
}

.bordered-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Utility */

body {
  font-family: 'Poppins', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(5, 192px) 1fr;
  grid-template-areas:
    '. header header header header header .'
    '. hero hero hero hero hero .'
    '. content content content content content .'
    '. partners partners partners partners partners .'
    '. footer footer footer footer footer .';
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
}

.main-menu {
  display: flex;
  gap: 0.75rem;
  list-style: none;
}

.main-menu li {
  flex: 1;
}

.main-menu li a {
  display: block;
  padding: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: var(--clr-theme-light-blue);
}

.main-menu li a:hover,
.main-menu li a:active {
  background-color: var(--clr-theme-calm-orange);
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.info span:first-child {
  display: flex;
  align-items: center;
  font-family: 'Arvo', sans-serif;
  font-weight: 700;
}

.info .logo {
  padding-right: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  border-right: 1px solid black;
}

.hero {
  grid-area: hero;
  display: grid;
  grid-template-columns: 1fr;
}

.hero .hero__background,
.hero .hero__content {
  grid-area: 1 / 1 / 2 / 2;
}

.hero__background {
  height: 380px;
  overflow: hidden;
}

.hero .hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-2);
}

.hero__content__feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 22rem;
  padding: 1.5em;
  color: white;
  background-color: var(--clr-theme-light-blue);
}

.hero__content__feature h2 {
  padding-bottom: 0.5rem;
  border-bottom: dashed 1px white;
}

.hero .hero__button {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: -3.5rem;
  padding: 1rem 2rem;
  background-color: var(--clr-theme-calm-orange);
  z-index: 1;
}

.hero__button span {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  color: white;
}

content {
  grid-area: content;
}

content .articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--padding-2);
}

.articles > * {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: var(--padding-2);
  background-color: var(--clr-light-gray);
}

.articles article h3 {
  padding-bottom: 0.5em;
  border-bottom: dashed 1px black;
}

.articles article figure {
  width: 240px;
  height: 90px;
  align-self: center;
}

.articles article a:last-child {
  align-self: flex-end;
}

content .suggested-content {
  display: grid;
  gap: var(--padding-2);
  padding: var(--padding-2) 0;
  grid-template-columns: repeat(3, 1fr);
  border-top: dashed 2px black;
}

content .suggested-content .random-article {
  grid-column: span 2;
  display: flex;
  gap: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: dotted 1px black;
}

.random-article figure {
  flex-basis: 200px;
  height: 160px;
}

.random-article__text-content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.random-article__text-content h3 {
  padding-bottom: 0.5em;
  border-bottom: dashed 1px black;
}

.random-article__text-content a:last-child {
  align-self: flex-end;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1em;
  background-color: var(--clr-light-gray);
}

.categories h3 {
  font-size: 1.8em;
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
  border-bottom: dashed 1px rgb(148, 148, 148);
}

.categories a {
  border-bottom: solid 1px rgb(148, 148, 148);
}

.partners {
  grid-area: partners;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.75rem;
  align-items: center;
}

.partners .parner-image {
  width: 174px;
  height: 100px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  color: white;
  background-color: var(--clr-theme-light-blue);
}
